Rep√©rer les valeurs aberrantes dans le fichier products.csv (ordre de grandeur : plusieurs centaines).

In [10]:
import os

import pandas as pd

In [ ]:
df = pd.read_csv(os.path.join(os.pardir, os.pardir, "data", "products.csv"))  # ou pathlib

C:\Users\bspeziale\AppData\Local\Temp\ipykernel_34328\1217617091.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(os.pardir, os.pardir, "data", "products.csv"))

In [14]:
df.head()

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
0,0,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000
1,1,4530,28.57,28.57,14.29,3.6,3.57,0.00000,0.000,21.40000
2,2,4559,17.86,0.00,17.86,7.1,17.86,0.63500,0.250,38.43500
3,3,16087,57.14,5.36,3.57,7.1,17.86,1.22428,0.482,7.26372
4,4,16094,1.43,NaN,NaN,5.7,8.57,NaN,NaN,84.30000

In [17]:
df.describe()

,Unnamed: 0,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
count,320772.000000,243891.000000,229554.000000,244971.000000,200886.000000,259922.000000,255510.000000,255463.000000,320772.000000
mean,160385.500000,12.730379,5.129932,16.003484,2.862111,7.075940,2.028624,0.798815,65.861511
std,92599.044612,17.578747,8.014238,22.327284,12.867578,8.409054,128.269454,50.504428,32.091021
min,0.000000,0.000000,0.000000,-17.860000,-6.700000,-800.000000,0.000000,0.000000,0.000000
25%,80192.750000,0.000000,0.000000,1.300000,0.000000,0.700000,0.063500,0.025000,41.907242
50%,160385.500000,5.000000,1.790000,5.710000,1.500000,4.760000,0.581660,0.229000,75.670259
75%,240578.250000,20.000000,7.140000,24.000000,3.600000,10.000000,1.374140,0.541000,94.145336
max,320771.000000,714.290000,550.000000,3520.000000,5380.000000,430.000000,64312.800000,25320.000000,889.380000

In [16]:
df.describe(include="object")

               code
count        320749
unique       320643
top     72101011766
freq              2

In [19]:
list(df.columns)

['Unnamed: 0',
 'code',
 'fat_100g',
 'saturated-fat_100g',
 'sugars_100g',
 'fiber_100g',
 'proteins_100g',
 'salt_100g',
 'sodium_100g',
 'autre']

In [40]:
mask_sup_100 = (
    (df["fat_100g"] > 100)
    | (df["saturated-fat_100g"] > 100)
    | (df["sugars_100g"] > 100)
    | (df["fiber_100g"] > 100)
    | (df["proteins_100g"] > 100)
    | (df["salt_100g"] > 100)
    | (df["sodium_100g"] > 100)
)

In [41]:
df_sup_100 = df[mask_sup_100]

In [45]:
len(df_sup_100)

176

In [29]:
mask_neg = (
    (df["fat_100g"] < 0)
    | (df["saturated-fat_100g"] < 0)
    | (df["sugars_100g"] < 0)
    | (df["fiber_100g"] < 0)
    | (df["proteins_100g"] < 0)
    | (df["salt_100g"] < 0)
    | (df["sodium_100g"] < 0)
)

In [30]:
df_neg = df[mask_neg]

In [39]:
len(df_neg)

11

In [ ]:
columns_equals_100 = (
    "fat_100g",
    "sugars_100g",
    "fiber_100g",
    "proteins_100g",
    "salt_100g",
    "autre",
)
mask_100 = (df[list(columns_equals_100)].sum(axis=1) != 100)  # mauvaise pratique !
df_100 = df[list(columns_equals_100)][mask_100]
print(df_100.head())
print(len(df_100))

   fat_100g  sugars_100g  fiber_100g  proteins_100g  salt_100g     autre
1     28.57        14.29         3.6           3.57    0.00000  21.40000
2     17.86        17.86         7.1          17.86    0.63500  38.43500
3     57.14         3.57         7.1          17.86    1.22428   7.26372
5     18.27        11.54         7.7          13.46        NaN  47.11000
7     18.75        15.62         9.4          14.06    0.13970  37.28530
230630